body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:hsl(212, 45%, 89%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
.container{
    
    display:flex;
    height: 55vh;
    width: 250px;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 15px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    
}
img
{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
p
{
    font-size: 15px;
    padding: 0;
    margin: 0;
    color: hsl(220, 15%, 55%);
}
h1
{
 font-weight: 700;
 font-size: 1.3rem;
 color: hsl(218, 44%, 22%);
}